streamlit
google-genai
python-dotenv
pinecone
PyMuPDF
docx2txt
requests
pytz
wikipedia
groq
tavily-python
langchain
langchain-core
langchain-groq
langchain-community
langgraph
langgraph-checkpoint
typing-extensions
pydantic
bcrypt
jwt
PyJWT 